.inpt {
  background-color: #ffffff;
  padding: 29px 38px;
  border-radius: 26px;
  height: 89px;
  width: 640px;
  //   color: #ACACAC;
  border: none;
  color: #333;
  font-size: 24px;
  font-family: "Gilroy-Medium", Helvetica;
  font-style: normal;
  font-weight: 500;
  line-height: 166%; /* 29.88px */
}
