/* General Typography Styles */

* {
    font-family: 'Comfortaa', sans-serif !important;
}

body {
    margin: 0 100px!important;
    padding: 20px;  /* Add 20px padding to all sides */
}



h1, h2, h3, h4, h5, h6 {
    margin-top: 20.0em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: black
}

h2 {
    font-size: 2.0em;
    font-weight: 700;
    color: #D03F2C !important;
}

h3 {
    font-size: 1.75em;
    font-weight: 700;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
}

h5 {
    font-size: 1.25em;
    font-weight: 400;
}

h6 {
    font-size: 1em;
    font-weight: 400;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    font-size: 1.25em;
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

.btn.btn-primary {
    background: linear-gradient(to bottom, #FFC100, #FFA500);
    border-color: #FFC100;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Make sure this CSS is loaded after Bootstrap */
/* Increasing specificity by targeting the ID */
#menuBtn.menu-button {
    background-color: #4CAF50 !important; /* Different background color */
    border: 2px solid #333 !important; /* Border for differentiation */
    color: white !important; /* Text color */
    /* Add more styles as needed */
}






/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second to open and close the sidenav */
    padding-top: 60px;
}

.sidenav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.img-fluid.icon {
    max-width: 50px; /* Set the max width you want */
    height: auto; /* Maintains the aspect ratio */
}



/* Padding for each section */
.section {
    padding: 20px;
}

/* Margin between sections */
.section + .section {
    margin-top: 40px;
}


/* Header styles */
header {
    /* background: linear-gradient(to bottom, #FFC100, #FFA500); */
    /* border-radius: 20px; */
    border-bottom: #111 1px solid;
    
}

header img {
    max-width: 100%;
    height: auto;
}

/* Existing styles */

/* Social-proof styling */


/* Service styling */
#service {
    background: linear-gradient(to bottom, #FFC100, #FFA500);
    border-radius: 20px;
    /* margin: 40px!important; */
}

/* Highlights Section */

#highlights {
    background: linear-gradient(to bottom, #FFC100, #FFA500);
    border-radius: 20px;
}

#highlights .row {
    display: flex;
    justify-content: space-between;
}

#highlights .img-fluid {
    max-width: 100%;
    height: auto;
}

#highlights .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-gap: 20px; /* Gap between cards */
}

#highlights .card {
    /* Your card styles, if any */
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

/* This targets the card container only within the features section */


#features .feature-card {
    flex-basis: calc(33.33% - 20px);  /* for 3 cards in a row */
    display: flex;  /* set up flex layout */
    align-items: center;  /* center items vertically */
    justify-content: flex-start;  /* align items to the start of the main axis */
    margin: 10px;  /* space around each card */
}

.image-text-container {
    display: flex; /* make this a flex container too */
    align-items: center; /* align items in the center */
    justify-content: flex-start; /* center items horizontally */
    min-width: 150px;  /* Adjust this value as needed */

}

.image-text-container img {
    flex: 0 0 auto; /* Do not grow, do not shrink, auto size */
    width: 70px; 
    height: auto; 
    margin-right: 20px; 
}

/* Last CTA styling */
#last-cta {
    background: linear-gradient(to bottom, #FFC100, #FFA500);
    border-radius: 20px;
}


/* General Section Card Styling */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(33.33% - 20px); /* distribute space equally, account for margins */
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flex; /* make this a flex container */
    flex-direction: column; /* stack the flex items vertically */
}

.card .image-text-container {
    display: flex; /* make this a flex container too */
    flex-direction: row;
    /* align-items: center; align items in the center */
    /* justify-content: center; center items horizontally */
}


.image-text-container img {
    max-width: 70px;
    max-height: 70px;
    margin: 20px;
}

.card img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.card p {
    margin: 0; /* remove the default margin */
}


.card h3,
.card p {
    margin: 10px 0;
}

/* Padding for each section */
.section {
    padding: 20px;
}

/* Margin between sections */
.section + .section {
    margin-top: 40px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Or whatever you need */
}

.feature-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, #FFC100, #FFA500);
    border-radius: 20px;


}

.feature-image {
    max-width: 50px; /* or whatever max-width you prefer */
    height: auto;
    margin-right: 15px;
    
}






/* Footer styles */
.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: #111 1px solid;

}

.footer-column {
    flex: 1;
    /* flex-basis: 0;  Optional, helps distribute space evenly */
    padding: 20px;  /* You can set padding if you want */
    box-sizing: border-box;  /* To include any padding or border */
    margin-left: 50px;
}

.footer-row {
    display: flex;
    align-items: center;  /* Align vertically centered */
    flex-wrap: nowrap;  /* Prevent wrapping */
    justify-content: flex-start;  /* Align items to the start */
}

.footer-row h1 {
    flex: 1;
    margin: 0;
    white-space: nowrap;  /* Prevent text from wrapping */
    /* overflow: hidden; */
    text-overflow: ellipsis;  /* Cut off and show '...' when too long */
    max-width: calc(100% - 120px);  /* Reserve some space for the image */
}

.footer-row p {
    margin-right: 30px;
}

.image-container {
    width: 100px;
    height: 100px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.footer-link {
    color: blue;
    text-decoration: underline;
}
