.subscription-result {
  position: absolute;
  top: 546px;
  left: 224px;
  border: solid 2px #777;
  background: #f0f0f0;
  border-radius: 26px;
  width: 386px;
  height: 117px;
  max-width: 100%;
  padding: 33px 26px 26px 23px;
}
.subscription-result-content {
  display: flex;
  width: 307px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .success-icon {
    position: relative;
    width: 49px;
    height: 49px;
  }
  .subscription-result-text {
    position: relative;
    width: 258px;
    margin-top: -1px;
    font-family: "Gilroy-Semibold", Helvetica;
    font-weight: 400;
    color: #3e3e3c;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.8px;
  }
}

.phone {
  .subscription-result {
    position: static;
    margin: 45 auto 0;
  }
}

.form {
  // default and for desktop
  .cta-categories {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // .col { }
    .radio-input {
      display: flex;
      align-items: center;
      font-family: "Gilroy-Medium", Helvetica;
      font-size: 20px;
      height: 33px;
      left: 0;
      input[type="checkbox"] {
        transform: scale(1.7);
        margin-right: 10px;
      }
    }
  }
}

.phone .form {
  * {
    max-width: 100%;
  }
  .cta-wrapper {
    background-color: #f0f0f0;
    border-radius: 26px;
    width: auto;
    // height: 1009px;
    margin: 0 10px;
    max-width: 355px;
    padding: 65px 8px 37px;
    .form-title {
      font-family: "Gilroy-Bold", Helvetica;
      font-weight: 700;
      color: #292929;
      font-size: 42px;
      text-align: center;
      line-height: 170%;
    }
    .cta-label {
      font-family: "Gilroy-Medium", Helvetica;
      font-weight: 500;
      color: #acacac;
      font-size: 18px;
      letter-spacing: 0;
      width: 100%;
      margin: 35px 17px 20px;
    }
    .cta-categories {
      flex-direction: column;
      margin: 0 24px;
      .radio-input {
        font-weight: 700;
        color: #3e3e3c;
        font-size: 20px;
        letter-spacing: 0;
        height: 33.2px;
        margin-bottom: 12px;
        white-space: nowrap;
      }
    }
  }
  .inpt {
    width: 100%;
    margin-top: 30px;
  }
  .btn {
    margin-top: 45px;
    padding: 26px 70px;
    margin: 45 auto 0;
    display: block;
  }
}
